<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>


    <bean id="musicClassic"
          class="ru.spring.springcourse.ClassicalMusic">

    </bean>

    <bean id="musicKantry"
          class="ru.spring.springcourse.KantryMusic">

    </bean>

    <bean id="musicRock"
          class="ru.spring.springcourse.RockMusic">

    </bean>

    <bean id="musicPlayer"
          class="ru.spring.springcourse.MusicPlayer" >

        <property name="musicList">
                <list>
                    <ref bean="musicKantry"/>
                    <ref bean="musicClassic"/>
                    <ref bean="musicRock"/>
                </list>
        </property>

        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>